<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping class="po.User"/>
        <mapping resource="po/User.hbm.xml"/>
        <mapping class="po.User"/>
        <mapping resource="po/User.hbm.xml"/>
        <mapping class="po.Passenger"/>
        <mapping resource="po/Passenger.hbm.xml"/>
        <mapping class="po.Passenger"/>
        <mapping resource="po/Passenger.hbm.xml"/>
        <mapping resource="po/Airplane.hbm.xml"/>
        <mapping class="po.Airplane"/>
        <mapping resource="po/Airport.hbm.xml"/>
        <mapping class="po.Airport"/>
        <mapping resource="po/City.hbm.xml"/>
        <mapping class="po.City"/>
        <mapping class="po.Flight"/>
        <mapping resource="po/Flight.hbm.xml"/>
        <mapping class="po.TicketInfo"/>
        <mapping resource="po/TicketInfo.hbm.xml"/>
        <mapping class="po.Flight"/>
        <mapping resource="po/Flight.hbm.xml"/>
        <mapping resource="po/TicketInfo.hbm.xml"/>
        <mapping class="po.TicketInfo"/>
        <mapping resource="po/Flight.hbm.xml"/>
        <mapping class="po.Flight"/>
        <mapping class="po.Orders"/>
        <mapping resource="po/Orders.hbm.xml"/>
        <mapping class="po.Orders"/>
        <mapping resource="po/Orders.hbm.xml"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>